{% extends "base.html" %}

{% block heading %}Contact Us{% endblock %}

{% block content %}
		<div class="header-bottom-in">
		<div class="container">
		<div class="header-bottom-on">
			<p3 class="wel"><a href="#">Welcome to proteK Online Store. Please login or create an account to continue</a>			</p3>
			
			<div class="clearfix"></div>
		</div>
		</div>
		</div>
	</div>
		<div class="container">
			<div class="contact">
			<h2 class=" contact-in">CONTACT</h2>
				
				<div class="col-md-6 contact-top">
					<h3>Info</h3>
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12103.91720860481!2d-73.73012165!3d40.674425!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1445743862893" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					
					<p>&nbsp;</p>
					<p><span>244 24 130 Ave </span>   </p>
					<p>Rosedale NY 11422 </p>
					<p><a href="mailto:info@example.com">info@protekdevice.com</a></p>
				  <p>&nbsp;</p>
				</div>
				<div class="col-md-6 contact-top">
					<h4>We're happy to assist you with your orders. Please fill out the form below. <div>
                    </div>

</h4>
						<div>
							<span>Full Name </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>Your Email </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>Subject</span>		
							<input type="text" value="" >	
						</div>
						<div>
						<span>Your Message</span>
                        <input type="text" value="" ></div>
                        
						<input type="submit" value="SUBMIT" >	
				</div>
			<div class="clearfix"> </div>
		</div>
	</div>
		<!---->
	{% endblock content %}