<!DOCTYPE html>
<html>
<head>
<title> proteK </title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cell Phones, Apple, Andriod, 
Smartphone, Nokia, Samsung, LG, SonyErricsson, Motorola, Galaxy, Screen protectors, phone case, tempered glass, bumper case, TPU tough plastic" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- js -->
<script src="js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
	$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
});
});
</script>
<!-- start-smoth-scrolling -->
</head>
	<body>
		<!-- header -->
        <div class="header">
		<div class="header-top">
			<div class="container">	
			<div class="header-top-in">			
				<div class="logo">
					<a href="index.php"><img src="images/logo.png" alt=" " width="97%" height="138" ></a>
				</div>
				<div class="header-in">
					<ul class="icon1 sub-icon1">
							<li  ><a href="wishlist.html">WISH LIST (0)</a> </li>
							<li  ><a href="account.html">  MY ACCOUNT</a></li>
							<li ><a href="#" > SHOPPING CART</a></li>
							<li > <a href="checkout.html" >CHECKOUT</a> </li>	
							<li><div class="cart">
									<a href="#" class="cart-in"> </a>
									<span> 0</span>
								</div>
								<ul class="sub-icon1 list">
						  <h3>Recently added items(2)</h3>
						  <div class="shopping_cart">
							  <div class="cart_box">
							   	 <div class="message">
							   	     <div class="alert-close"> </div> 
					                <div class="list_img"><img src="images/14.jpg" class="img-responsive" alt=""></div>
								    <div class="list_desc"><h4><a href="#">velit esse molestie</a></h4>1 x<span class="actual">
		                             $12.00</span></div>
		                              <div class="clearfix"></div>
                                </div>
                            </div>
	                            <div class="cart_box1">
								  <div class="message1">
							   	     <div class="alert-close1"> </div> 
					                <div class="list_img"><img src="images/15.jpg" class="img-responsive" alt=""></div>
								    <div class="list_desc"><h4><a href="#">velit esse molestie</a></h4>1 x<span class="actual">
		                             $12.00</span></div>
		                              <div class="clearfix"></div>
	                              </div>
	                            </div>
	                        </div>
	                        <div class="total">
	                        	<div class="total_left">CartSubtotal : </div>
	                        	<div class="total_right">$250.00</div>
	                        	<div class="clearfix"> </div>
	                        </div>
                            <div class="login_buttons">
							  <div class="check_button"><a href="checkout.html">Check out</a></div>
							  <div class="clearfix"></div>
						    </div>
					      <div class="clearfix"></div>
						</ul>
							</li>
				  </ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="header-bottom">
		<div class="container">
			<div class="h_menu4">
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li ><a href="index.php"><i> </i>HOME</a></li>
					<li ><a href="#" >CATEGORY</a>
						<ul class="drop">
							<li><a href="products.html">APPLE</a></li>
							<li><a href="products.html">SAMSUNG</a></li>
							<li><a href="products.html">ANDRIOD</a></li>
							<li><a href="products.html">Acer</a></li>
							<li><a href="products.html">HP</a></li>
							<li><a href="products.html">Intel</a></li>
						</ul>
				  </li> 						
						  
						<li><a href="products.html" > Weekly Special</a></li>						  				 
						<li><a href="products.html" > Shipping and Returns</a></li>
						<li><a href="products.html" > About Us </a></li>
						<li class="active"><a href="contact.html" > Contact Us </a></li>
					
				</ul>
				<script type="text/javascript" src="js/nav.js"></script>
			</div>
		</div>
		</div>
		<div class="header-bottom-in">
		<div class="container">
		<div class="header-bottom-on">
			<p3 class="wel"> ABOUT US </p3>
			<div class="header-can">
				<ul class="social-in">
						<li><a href="#"><i> </i></a></li>
						<li><a href="#"><i class="facebook"> </i></a></li>
						<li><a href="#"><i class="twitter"> </i></a></li>					
						<li><a href="#"><i class="skype"> </i></a></li>
			  </ul>	
					<div class="down-top">		
						  <select class="in-drop">
							  <option value="Dollars" class="in-of">Dollars</option>
							  <option value="USD" class="in-of"> USD</option>
							  <option value="CA" class="in-of">CA</option>
					  </select>
			  </div>
					<div class="search">
						<form>
							<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
							<input type="submit" value="">
						</form>
					</div>
					<div class="clearfix"> </div>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
		</div>
	</div>
		<div class="container">
		  <div class="contact">
					<!-- script-for-menu -->
							 <script> 
							   $( "span.menu" ).click(function() {
								 $( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							
							</script>
						<!-- /script-for-menu -->
				</div>
				<!-- //container -->
	</div>
			<div class="blue"> </div>
		</div>
		<!-- //header -->
		<!-- about -->
		<div class="about">
			<!-- container -->
			<div class="container">
				<div class="about-grids">
					<div class="col-md-4 about-left">
						<h3>WHO WE ARE<img src="images/added.PNG" alt="" width="351" height="214" /></h3>
						<h4>Nunc vel mauris arcu. Donec faucibus magna eu pharetra pharetra. Phasellus sem leo.</h4>
						<p>Fusce tempus semper pretium. Donec orci dui, viverra dapibus risus eu, euismod faucibus risus. 
							Maecenas fermentum justo cursus commodo vitae efficitur lectus euismod. Phasellus scele risque lectus quis nisl 
							hendrerit accumsan. Sed tristique, lectus et faucibus dictum, nulla eros aliquet tortor, quis auctor massa justo ac 
							sem. Curabitur euismod ante risus.
						</p>
					</div>
					<div class="col-md-4 about-middle">
						<h3>Our History</h3>
						<div class="about-middle-info">
							<h4>Donec faucibus magna.</h4>
							<p>Fusce tempus semper pretium. Donec orci dui, viverra dapibus risus eu .
							</p>
						</div>
						<div class="about-middle-info">
							<h4>Suspendisse nec magna id</h4>
							<p>Fusce tempus semper pretium. Donec orci dui, viverra dapibus risus eu .
							lectus et faucibus dictum, nulla eros aliquet tortor.
							</p>
						</div>
						<div class="about-middle-info">
							<h4>Maecenas fermentum justo</h4>
							<p>Fusce tempus semper pretium. Donec orci dui, viverra dapibus risus eu .
							</p>
						</div>
						<div class="about-middle-info">
							<h4>Donec faucibus magna.</h4>
							<p>Viverra dapibus risus eu, euismod faucibus risus. Fusce tempus semper pretium. Donec orci dui, viverra dapibus risus eu .
							</p>
						</div>
						<div class="about-middle-info">
							<h4>Curabitur euismod ante risus</h4>
							<p>Fusce tempus semper pretium. Donec orci dui, viverra dapibus risus eu .
							</p>
						</div>
					</div>
					<div class="col-md-4 about-right">
						<h3>Careers</h3>
						<div class="about-right-info">
							<h5>Maecenas fermentum justo cursus commodo vitae efficitur lectus euismod.</h5>
							<p>Fusce tempus semper pretium. Donec orci dui, viverra dapibus risus eu, euismod faucibus risus. 
								Maecenas fermentum justo cursus commodo vitae efficitur lectus euismod. Phasellus scele risque lectus quis.
							</p>
							<ul>
								<li><a href="#">Phasellus sem leo, interdum quis risus</a></li>
								<li><a href="#">Nullam egestas nisi id malesuada aliquet </a></li>
								<li><a href="#"> Donec condimentum purus urna venenatis</a></li>
								<li><a href="#">Ut congue, nisl id tincidunt lobor mollis</a></li>
							</ul>
							<p>Fusce tempus semper pretium. Donec orci dui, viverra dapibus risus eu, euismod faucibus risus. 
								Maecenas fermentum justo cursus commodo vitae efficitur lectus euismod. Phasellus scele risque lectus quis.
								viverra dapibus risus eu
							</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="staff">
					<div class="staff-info">
						<h3>What's new?</h3>
					</div>
					<div class="staff-grids">
						<div class="col-md-3 staff-grid">
							<h5>Proin posuere mi eros. Etiam finibus lacus leo.</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia malesuada sollicitudin.</p>
							<div class="more">
								<a href="#">MORE</a>
							</div>
						</div>
						<div class="col-md-3 staff-grid">
							<h5>Vestibulum lacinia malesuada sollicitudin.</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia malesuada sollicitudin.</p>
							<div class="more">
								<a href="#">MORE</a>
							</div>
						</div>
						<div class="col-md-3 staff-grid">
							<h5>Vestibulum lacinia malesuada sollicitudin.</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia malesuada sollicitudin.</p>
							<div class="more">
								<a href="#">MORE</a>
							</div>
						</div>
						<div class="col-md-3 staff-grid">
							<h5>Proin posuere mi eros. Etiam finibus lacus leo.</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia malesuada sollicitudin.</p>
							<div class="more">
								<a href="#">MORE</a>
							</div>
						</div>
						</div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //about -->
		<!-- footer -->
		<div class="footer">
			<!-- container -->
				<div class="footer-top">
						<div class="footer-in">
							<div class="col-md-3 f-address">
								<h5>Address</h5>
								<ul>
									<li>756 gt globel Place,</li>
									<li>CD-Road,M 07 435.</li>
									<li>Telephone: +1 234 567 9871</li>
									<li>FAX: +1 234 567 9871</li>
									<li>E-mail : <a href="mailto:example@email.com">Example@mail.com</a></li>
								</ul>
							</div>
						  <div class="col-md-6 f-address f-contact">
								<h5>Stay in Touch</h5>
								<form>
									<input type="text" placeholder="Email address" required>
									<input type="submit" value="Subscribe">
								</form>
							</div>
							<div class="col-md-3 footer-logo">
								<a href="index.html">Forward</a>
								<div class="footer-left">
									<ul>
										<li><span class="facebook"> </span></li>
										<li><a class="twitter" href="#"></a></li>
										<li><a class="linked-in" href="#"></a></li>
										<li><a class="you-tube" href="#"></a></li>
									</ul>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="footer-middle">
  <div class="container">
					<div class="footer-middle-in">
						<h6>About us</h6>
						<p>ProteK is a 'Top Rated' company develop in the year 2015 that specialize in screen protector and cases for smart devices of all model.</p>
					</div>
					<div class="footer-middle-in">
						<h6>Information Center</h6>
						<ul>
							<li><a href="#">About Us </a></li>
							<li><a href="#">Shipping & Returns </a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms & Conditions</a></li>
					  </ul>
					</div>
					<div class="footer-middle-in">
						<h6 class="form-group">Customer Service</h6>
						<ul>
						  <li><a href="contact.html">Contact Us</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Site Map</a></li>
						</ul>
					</div>
					<div class="footer-middle-in">
						<h6> Account Settings</h6>
						<ul>
							<li><a href="account.html">My Account Settings</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="wishlist.html">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="footer-middle-in">
						<h6>Extras & Affiliates</h6>
						<ul>
							<li><a href="products.html">Models</a></li>
							<li><a href="#">Gift Vouchers</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="specials.html">Specials</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<p class="footer-class"> <a href="index.html"><img src="images/favicon.PNG" alt="fav" name="fav" height="30" id="fav"></a>Copyright © 2015 proteK Inc. All Rights Reserved <a href="index.html"></a></p>
<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

		</div>
</body>
</html>