
	<div class="container">
		<div class="account">
			<h2 class="account-in">Login</h2>
            <h2> Welcome </h2>
			{% if form.has_errors %}       
			<p style='color:red;' >Your username and password didn't match. Please try again.</p>
			{% endif %}
				<form method="post" action=".">			
				<div> 	
					<span class="mail" for="id_username">Email</span>
					{{ form.username }} 
				</div>
				<div> 
					<span class="word" for="id_password">Password</span>
					{{ form.password }}
				</div>
					<input type="hidden" name="next" value="/" />				
					<input type="submit" value="Login"> 
				</form>
		</div>
	</div>
