{% extends "base.html" %}

{% block heading %}Login{% endblock %}

{% block content %}
	
	<div class="container">
		<div class="account">
			<h2 class="account-in">Login</h2>
            <h2>Welcome Back</h2>
			{% if form.errors %}       
			<p style="color:red;" >Your username and password didn't match. Please try again.</p>
			{% endif %}
				<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
				{% csrf_token %}				
				<div> 	
					<span style="width:70px; display: inline-block;" class="mail" for="id_username">Email</span>
					<span>{{ form.username }}</span>
				</div>
				<div> 
					<span style="width:70px; display: inline-block;" class="word" for="id_password">Password</span>
					<span>{{ form.password }}</span>
				</div>							
					<input type="hidden" name="next" value="{{ next }}" /> 
					<input style="margin-left: 70px;" type="submit" value="Login">
				</form>
				<br/></br>
				<p style="text-align:center"><a href="/register/">Create An Account<a></p>
		</div>
	</div>
		{% endblock content %}
